.btn-mgt{
    margin-top: 10px;
}

.ctn{
    
    margin: auto;
    padding: 20px;
    margin-top: 40px;
}

.login{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}


.btn-registrar{
    background: none;
    color: #05c7c7d2;
    border-color:#05c7c7d2;
}

.btn-registrar:hover{
    color: white;
    /*background: linear-gradient(to right, #05c7c7d2, #010544d2);*/
    border-color: #05c7c7d2;
    background: #05c7c7d2;
}

.txt-card{
    display: inline-block;
}
/* CARTAS */


.ctn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}

.m-top{
    margin-top: 40px;
}


/* HABITACIONES */

.habitacion{
    text-align: center;
    width: 500px;
    border: 3px solid #05c7c7d2;
    color: #05c7c7d2;
    border-radius: 20px;
    margin: 10px;
}

.container-f{
    display: inline-block;
    width: 400px;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
}
