<app-nav-bar-top-sh></app-nav-bar-top-sh>
<app-nav-bar></app-nav-bar>

<div class="container">

   
   <!-- <h3>Juan Perez</h3>
    

    <div class="container bg-light ctn shadow rounded">
        <img src="../../../assets/icon-blue-group.png" width="80" height="70">
        <h4 class="titulo">Ver usuarios</h4>
        <p class="m-top-20">Ve los usuarios que se han creado.</p>
        <a href="#" class="btn btn-registrar">Ver</a>
    </div>

    <div class="container bg-light ctn shadow rounded">
        <img src="../../../assets/icon-blue-group.png" width="80" height="70">
        <h4 class="titulo">Crear usuario</h4>
        <p class="m-top-20">Crea usuarios para especificar sus permisos dentro del hogar.</p>
        <a href="#" class="btn btn-registrar">Crear</a>
    </div>-->
    


</div>

<div class="container bg-light ctn shadow rounded">
    <h4 align="center">{{nombre}}</h4>
    <div class="m-auto p-top-20" *ngIf="idRol === 1">
        <a class="display-inline-b" routerLink="/gestion"><img src="../../../assets/icon-blue-home.png" width="30" height="35">&nbsp; Gestión del Hogar</a>
    </div>
    <!--<div class="m-auto p-top-20">
        <a class="display-inline-b" routerLink="/centroayuda"><img src="../../../assets/icon-blue-book.png" width="30" height="30">&nbsp; Centro de Ayuda</a>
    </div>-->
    <div class="m-auto p-top-20" *ngIf="idRol === 1">
        <a class="display-inline-b" data-toggle="modal" data-target="#notiModal" (click)="getNotificaciones()"><img src="../../../assets/notificacion.png" width="30" height="30">&nbsp; Notificaciónes <span *ngIf="cantidad > 0" class="badge badge-primary badge-pill bg-danger">{{cantidad}}</span></a>
    </div>
    <!--<div class="m-auto p-top-20">
        <a class="display-inline-b"><img src="../../../assets/icon-blue-sett.png" width="30" height="30">&nbsp; Ajustes</a>
    </div>-->
    <div class="m-auto p-top-20">
        <a class="display-inline-b" (click)="authService.logout()"><img src="../../../assets/icon-blue-logout.png" width="30" height="30">&nbsp; Salir</a>
    </div>
</div>

 
<!-- Modal -->
<div class="modal fade" id="notiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notificaciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" *ngFor="let n of notificaciones">
                    {{n.titulo}} <br> El usuario {{n.nombre_autor}} quiere {{n.contenido}} <br> <br>
                    <button type="button" class="close text-danger"(click)="onDeleteNotificacion(n)" ><span aria-hidden="true" (click)="onDeleteNotificacion(n)">&times;</span></button>
                        
                </li>
            </ul>
        <div class="modal-footer">
          <!--<button type="submit" class="btn btn-outline-success" (click)="refreshDataHistorial()">Refrescar</button>-->
      </div>
      </div>
    </div>
  </div>